In [1]:
""" Q1 : Loops are used in computer programming to repeat a section of code.

A loop, for example, can be used to display and to complete a task number of  times.
example of for loop is shown below:"""

' Q1 : Loops are used in computer programming to repeat a section of code.\n\nA loop, for example, can be used to display and to complete a task number of  times.\nexample of for loop is shown below:'

In [3]:

 l=[1,4,5,6,7,8]
for i in l :
    print(i)

1
4
5
6
7
8

In [2]:
## while loop will excute only when condition only true . and will stop execute when conition will stop .example of while loop

In [3]:
i=0
s=7

while i<s:
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [1]:
##  Q2 : sum and product of 10 natural numbers

In [1]:
## using for loop 
t = range(0,11)

sum = 0 
for i in t:
    sum = sum + i 
    
print(sum)

55

In [2]:
## using while loop

In [3]:
n = 10 
sum = 0 
i=0
while i<=n:
    sum =  sum + i
    i=i+1
    
print(sum)

55

In [12]:
## product of natural numbers using for lop

In [6]:
## using for loop 
p = 1 
t = range ( 1, 11)
for i  in t :
    p = p*i
    
print(p)

3628800

using while loop

In [13]:
n = 10
p = 1
i=1
while i<=n:
    p = p*i
    i=i+1
    
print(p)

3628800

In [7]:
## q3

In [8]:
u = int(input(" enter user unit "))
e = 0 
if u<= 100:
    e= 4.5*u   
elif u >= 101 and u<= 200 :
    e =  450 + 6 * (u -100) 
elif u >=201 and u <=300 :
    e =  450 + 600 + 10 * (u-200) 
else:
    e = 450 +600+1000 + 20*(u-300)
    
print(e)

 enter user unit  310

2250

In [9]:
## q4

In [10]:
t = range(1,101)
o=[]
for i in t :
    c= i*i*i
    if(c%4==0 or c%5==0):
    
        o.append(c)
print(o)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

question 5 :

In [11]:
s=" i want to become a data scientist "
w=[]
for i in s:
    if i== 'a' or i== 'e' or i== 'i' or i== 'u'or i== 'o': 
        w.append(i)
        
print(w)
print(len(w))

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
12