Q1. What is a database? Differentiate between SQL and NoSQL databases.
SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

DDL : Data Definition Language

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).and like commands :
Create
Alter 
truncate
drop

1.CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

#EXAMPLE: 
CREATE TABLE maharaj(c1 INT,c2 INT,c3 FLOAT)

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Example: 
ALTER TABLE maharaj 
   ADD d4 FLOAT;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

example:  TRUNCATE TABLE maharaj;

DROP :
This command is used to remove an existing table along with its structure from the Database.

example : DROP Table maharaj;

Q3: Data Manipulation Language (DML)
DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving or deleting data, it provides a convenient way to do so.

INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
Example : INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
example : UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
example:

DELETE FROM students

WHERE stu_id = '001';

q4: Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects.
example: ELECT Stu_Name FROM Student WHERE Phone = 9039462908;

q5: A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It uniquely identifies a record in the relational database table.

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

q7: Give the order of execution of SQL clauses in an SQL query.
FROM/JOIN. The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE. The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY. ...
HAVING. ...
SELECT. ...
ORDER BY. ...
LIMIT/OFFSET.